@use "../styles/abstracts/breakpoints" as *;

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &__logo {
    display: flex;
    align-items: center;
    .title {
      margin: 0;
    }
    .logo {
      width: 6rem;
    }
  }
}

