@use '../sass/abstracts/breakpoints' as *;

.header {
  background-color: #ffffff;
  &__img {
    vertical-align: middle;
  }
}

.title {
  display: inline;
  vertical-align: middle;
}

.sidenav-toggle {
  @include md {
    display: none;
    padding: 0;
    margin: 10px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.menue {
	display: flex;
}
.menue-items {
	display: inline-block;
	margin: auto;
}