<div class="header" color="outline">
	<button class="header__sidenav-toggle" mat-icon-button color="primary"
			aria-label="Example icon button with a menu icon" (click)="openSidenav()">
		<mat-icon>menu</mat-icon>
	</button>
	<span class="header__logo">
		<img class="logo" src="../../assets/img/bssLogoPurple.jpg" alt="logo">
		<h1 class="title">Best Sax Store</h1>
	</span>
	<!-- <mat-nav-list class="menue">
		<mat-list-item *ngFor="let menuItem of menuItems" class="menue-items">
			<a type="button" mat-button class="menue-link" [routerLink]="[menuItem.segment]">{{menuItem.content}}</a>
		</mat-list-item>
	</mat-nav-list> -->
	<button mat-icon-button class="header__cart">
		<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">shopping_cart
		</mat-icon>
	</button>
</div>
